---
---
<div class="guarantee-section mb-6">
    <div class="flex items-start gap-4">
      <img src="https://offer.groundedfootwear.co/freedom/en/us/v7/images/30d.png" alt="30 day guarantee" class="w-16 h-16" />
      <div>
        <p class="text-sm text-black"><span class="font-bold">30 Day Money-Back Guarantee:</span> Feel safe knowing you are protected with a 30 day guarantee. Simply send the item(s) back in the original packaging to receive a full refund or replacement, less S&H.</p>
      </div>
    </div>
  </div>