---
import { states } from "../../../utils/data/states";
---

<div class="billing-container">
  <form class="billing-address-form" data-form-type="billing">
    <div class="name-fields">
      <div class="input-group">
        <input
          type="text"
          id="firstName-billing"
          name="firstName"
          placeholder="First Name"
          class="address-input"
        />
      </div>
      <div class="input-group">
        <input
          type="text"
          id="lastName-billing"
          name="lastName"
          placeholder="Last Name"
          class="address-input"
        />
      </div>
    </div>

    <div class="form-field">
      <label for="billing-country">Country/Region</label>
      <select id="billing-country" name="country">
        <option value="US" selected>United States</option>
      </select>
    </div>

    <div class="input-group">
      <input
        type="text"
        id="address1-billing"
        name="address1"
        placeholder="Address Line 1"
        class="address-input"
      />
    </div>

    <div class="input-group">
      <input
        type="text"
        id="address2-billing"
        name="address2"
        placeholder="Address Line 2 (Optional)"
        class="address-input"
      />
    </div>

    <div class="city-state-zip">
      <div class="input-group">
        <input
          type="text"
          id="city-billing"
          name="city"
          placeholder="City"
          class="address-input"
        />
      </div>

      <select id="state-billing" name="state">
        <option value="" disabled selected>State</option>
        {
          states.map((state) => (
            <option value={state.abbreviation}>{state.name}</option>
          ))
        }
      </select>

      <div class="input-group">
        <input
          type="text"
          id="zip-billing"
          name="zipCode"
          placeholder="Zip Code"
          class="address-input"
          maxlength="10"
        />
      </div>
    </div>

    <div class="input-group">
      <input
        type="tel"
        id="phone-billing"
        name="phone"
        placeholder="Phone Number (Optional)"
        class="address-input"
      />
    </div>
  </form>
</div>

<style>
  @import "/style/BillingAddressForm.css";
</style>
