---
import Layout from "../layouts/Layout-Home.astro";
import Hero from "../components/sections/hero/Hero.astro";
import Brands from "../components/sections/brands/Brands.astro";
import FAQ from "../components/sections/faq/FAQ.astro";
import Solutions from "../components/sections/solutions/Solutions.astro";
import Testimonials from "../components/sections/testimonials/Testimonials.astro";
import Features from "../components/sections/features/Features.astro";
---

<Layout title="Barefoot Shoes">
  <main class="flex flex-col overflow-hidden">
    <Hero className="pb-8" />
    <Brands className="py-8" />
    <Features className="py-8" />
    <Solutions className="py-8" />
    <Testimonials className="py-8" />
    <FAQ className="py-8" />
  </main>
</Layout>
